<div class="container-fluid py-5" id="about">
    <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-upppercase text-white" style="-webkit-text-stroke:1px  #dee2e6">
          ABOUT
        </h1>
        <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
      </div>
      <div class="row align-items-center" >
        <div class="col-lg-4 pb-3 pb-lg-0">
          <img class="img-fluid rounded w-80" src="../../assets/01.jpg" alt="">
        </div>
        <div class="col-lg-7">
          <h3 class="mb-4">Web developer and designer</h3>
          <p>I am Abhijna A Shetty. I'm Studing at N.M.A.M Institute of Technology. I have taken Information Science branch and currently in 4th year.</p>
          <div class="row mb-3">
            <div class="col-sm-6 py-2">
              <h6>Name: <span class="text-secondary">Abhijna A Shetty</span></h6>
            </div>
            <div class="col-sm-6 py-2">
              <h6>Birthday: <span class="text-secondary">20-02-2001</span></h6>
            </div>
            <div class="col-sm-6 py-2">
              <h6>Degree: <span class="text-secondary"> BE</span></h6>
            </div>
            <div class="col-sm-6 py-2">
              <h6>Branch: <span class="text-secondary">Information Science</span></h6>
            </div>
            
            <div class="col-sm-6 py-2">
              <h6>Phone No: <span class="text-secondary">1234567891</span></h6>
            </div>
            <div class="col-sm-6 py-2">
              <h6>Email: <span class="text-secondary">abhijna@gmail.com</span></h6>
            </div>
            <div class="col-sm-6 py-2">
              <h6>Address: <span class="text-secondary">Hebri,Udupi,Karnataka</span></h6>
            </div>
            <div class="col-sm-6 py-2">
              <h6>Freelance: <span class="text-secondary">Available</span></h6>
            </div>
          </div>
          <!--button-->
          <a href="" class="btn btn-outline-primary blue mr-4">Hire Me</a>
          <a href="" class="btn btn-outline-primary blue ">Learn More</a>
        </div>
      </div>
    </div>
  
