<div class="container-fluid py-5" id="testimonial">
    <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke:1px #dee2e6">PROJECTS</h1>
        <h1 class="position-absolute text-uppercase text-primary">PROJECTS</h1>
      </div>
    </div>
</div>
      
<html>
<body>     
<div class="slider">
  <input type="radio" name="slider" title="slider1" checked="checked" class="nav"/>
  <input type="radio" name="slider" title="slider2" checked="checked" class="nav"/>
  <input type="radio" name="slider" title="slider3" checked="checked" class="nav"/>
  <input type="radio" name="slider" title="slider4" checked="checked" class="nav"/>

  <div class="inner">
    <div class="contents">
      <img src="../../assets/img113.jpg" width="120">
      <br>
    
      <h2 class="caption" >image collection</h2>
      <p class="txt">
        Website created contains the image collection of different state.HTML,PHP, SQL(data storage) used to develop Web.

        

      </p>

    </div>
    <div class="contents">
      <img src="../../assets/img114.jpg" width="130">
      <br>
    
      <h2 class="caption" >People Counter using OpenCV     </h2>
      <p class="txt">
        Aim is a direction sensitive people counter using OpenCV,
        counting the number of people in real time.
        
       

        </p>

    </div>
    <div class="contents">
      <img src="../../assets/img112.jpg" width="100">
      <br>
    
      <h2 class="caption" >Registration Trip form</h2>
      <p class="txt">
        DBMS to manage different operation taking place in a Registration form .SQL, PHP are used for backend connection.

       
      </p>

    </div>
    <div class="contents">
      <img src="../../assets/img 111.jpg" width="100">
      <br>
    
      <h2 class="caption" >   resume (Angular)  </h2>
      <p class="txt">
        Resume website created using Angular (Front end web application) 

        
      </p>

    </div>
  </div>
  

</div>  
</body>
</html>    
      