a{
    color: #0bceaf;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #078571;
    text-decoration: underline;
}a{
    color: #0bceaf;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: #078571;
    text-decoration: underline;
}