<!-- 
<nav class="navbar fixed top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
  <a href="#" class="navbar-brand ml-lg-3">
    <h1 class="m-0 display-5">
      <samp class="text-primary">Port</samp>Folio
    </h1>
  </a>

 
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home </a>
        
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/qualification">Qualification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/achievements">Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/qualities">Qualities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts">Contacts</a>
          </li>
        
         
       
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand ml-lg-3">
      <h1 class="m-0 display-5">
        <samp class="text-primary">Port</samp>Folio
      </h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/qualification">Qualification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/achievements">Achievements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/qualities">Qualities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts">Contacts</a>
          </li>
        
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>