<div class="container-fluid py-5" id="skills">
    <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke:1px #dee2e6">skills</h1>
        <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
      </div>
      <!--skills-->
      <div class="row align-item-center">
        <div class="col-md-6">
          <div class="skills mb-4">
            <div class="d-flex justify-content-between">
              <h6 class=" font-width-bold">SQL</h6>
              <h6 class=" font-width-bold">80%</h6>
            </div>
            <div class=" progress">
              <div class=" sql progress-bar bg-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
  
              </div>
            </div>
            </div>
            <br>
            <div class="skills mb-4">
              <div class="d-flex justify-content-between">
                <h6 class="font-width-bold">Python</h6>
                <h6 class="font-width-bold">70%</h6>
              </div>
              <div class="progress">
                <div class="python progress-bar bg-purple" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
    
                </div>
              </div>
            </div>
            <br>
          <div class="skills mb-4">
            <div class="d-flex justify-content-between">
              <h6 class="font-width-bold">HTML</h6>
              <h6 class="font-width-bold">50%</h6>
            </div>
            <div class="progress">
              <div class=" html progress-bar bg-medium" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  
              </div>
            </div>
          </div>
          <br>
          <div class="skills mb-4">
            <div class="d-flex justify-content-between">
              <h6 class="font-width-bold">CSS</h6>
              <h6 class="font-width-bold">40%</h6>
            </div>
            <div class="progress">
              <div class="css progress-bar bg-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
  
              </div>
            </div>
          </div>
          <br>
          <div class="skills mb-4">
            <div class="d-flex justify-content-between">
              <h6 class="font-width-bold">PHP</h6>
              <h6 class="font-width-bold">50%</h6>
            </div>
            <div class="progress">
              <div class="php progress-bar bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
  
              </div>
            </div>
          </div>
          <br>
          <div class="skills mb-4">
            <div class="d-flex justify-content-between">
              <h6 class="font-width-bold">Angular</h6>
              <h6 class="font-width-bold">60%</h6>
            </div>
            <div class="progress">
              <div class="angular progress-bar bg-dark" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
