.sql{
    width: 80%; background-color: #04AA6D;
}
.python{
    width: 70%; background-color: #04AA6D;
}
.html{
    width: 50%; background-color: #044336;
}
.css{
    width: 40%; background-color: #04AA6D;
}
.php{
    width: 50%; background-color: #04AA6D;
}
.angular{
    width: 60%; background-color: #04AA6D;
}