<div class="container-fluid py-5" id="qualities">
    <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke:1px #dee2e6">qualities</h1>
        <h1 class="position-absolute text-uppercase text-primary">qualities</h1>
      </div>
      <div class="row">
        
      
     
      <div class="cards" style="width: 18rem;">
        <div class="image">
          <img src="../../assets/L.jpg">
        </div>
        <div class="caption">
          <h1> Leadership</h1>
        </div>
       
        
      </div>
      <div class="cards" style="width: 18rem;">
        <div class="image">
          <img src="../../assets/T.jpg">
        </div>
        <div class="caption">
            <br>
            <br>
          <h1> Teamwork</h1>
        </div>
        
      </div>
      <div class="cards" style="width: 18rem;">
        <div class="image">
          <img src="../../assets/time.jpg">
        </div>
        <div class="caption">
          <h1> Time Management
        </h1>
        </div>
       
            
      
       </div>
       <div class="row">
        
      
     
        <div class="cards" style="width: 18rem;">
          <div class="image">
            <img src="../../assets/PROBLEM.png">
          </div>
          <div class="caption">
            <h1> Problem Solving
            </h1>
          </div>
         
          
        </div>
        <div class="cards" style="width: 18rem;">
          <div class="image">
            <img src="../../assets/COMU.jpg">
          </div>
          <div class="caption">
            <br>
            <br>
            <br>
            <br>
            <h1>Communica
                tion
            </h1>
          </div>
          
        </div>
        <div class="cards" style="width: 18rem;">
          <div class="image">
            <img src="../../assets/AS.jpg">
          </div>
          <br>
          <br>
          <br>
          <div class="caption">
            <h1> Analytic Skills</h1>
          </div>
         
              
        
         </div>

  </div> 
  </div>
  </div>
