<div class="container-fluid py-5" id="qualification">
    <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke:1px #dee2e6">Qualification</h1>
        <h1 class="position-absolute text-uppercase text-primary">Education</h1>
      </div>
      <br>
      <section class="right-section">
        <div class="right-main-content">
          <section class="education sect ">
            <h2 class="rigth-title"> My Education</h2>
            <br>
            <div class="timeline">
            <div class="left-tl-content">
            <h5 class="t1-title">SSLC</h5>
            <p class="para">2006 - 2017</p>
            </div>
            <div class="right-tl-content">
              <div class="t1-content">
                <h5 class="tl-title-2">Little Rock Indian School Brahmavar</h5>
                <p class="para">
                  9.2 CGPA - CBSE
                </p>
              </div>
            </div>
          </div>
          
            <div class="timeline">
            <div class="left-tl-content">
            <h5 class="t1-title">PU</h5>
            <p class="para">2017 - 2019</p>
            </div>
            <div class="right-tl-content">
              <div class="t1-content">
                <h5 class="tl-title-2">Jnana Sudha College</h5>
                <p class="para">
                  91% - PCMB (State Board)
                </p>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="left-tl-content">
            <h5 class="t1-title">BE</h5>
            <p class="para">2019 - 2023</p>
            </div>
            <div class="right-tl-content">
              <div class="t1-content">
                <h5 class="tl-title-2">N.M.A.M Institute of Technology</h5>
                <p class="para">
                  9 CGPA - Information Science and Engineering
        
                </p>
              </div>
            </div>
          </div>
      </section>
    </div>
  </section> 
    </div>
  </div>
