<div class="container-fluid py-5" id="achivements">
    <div class="container">
      <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke:1px #dee2e6">Achievements</h1>
        <h1 class="position-absolute text-uppercase text-primary">cirtificates</h1>
      </div>
      <div class="row">
        
       
      <div class="main">
      <div class="cards">
        <div class="image">
          <img src="../../assets/RD1.jpg">
        </div>
        <div class="title">
          <h1>Repulic Day Parade</h1>
        </div>
        <div class="des">
          <p>Participated in State Republic Day Parade 2022. Training held at RV College of Engineering Bangalore.</p>
         
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/RDS.jpg">
        </div>
        <div class="title">
          <h1>RD Sounth-Zone Camp</h1>
        </div>
        <div class="des">
          <p>Partifipated in Sounth-Zone Camp held at GKVK College Bangalore.</p>
          
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/RD.jpg">
        </div>
        <div class="title">
          <h1>RD VTU Camp</h1>
        </div>
        <div class="des">
          <p>Participated in RD selection Camp in VTU Belgavi.</p>
         
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/Camp.jpg">
        </div>
        <div class="title">
          <h1>NSS Rural Camp</h1>
        </div>
        <div class="des">
          <p>Participated in 2 Rural Camp held at Udupi and Mangalore.</p>
         
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/VTUV.jpg">
        </div>
        <div class="title">
          <h1>VTU VolleyBall</h1>
        </div>
        <div class="des">
          <p>Secured 1st place in VTU VolleyBall Tournament.</p>
          
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/Volley.jpg">
        </div>
        <div class="title">
          <h1>VolleyBall Tournament</h1>
        </div>
        <div class="des">
          <p>Secured First Place in Nitte Kreedosthav</p>
         
        </div>
      </div>
      
      <div class="cards">
        <div class="image">
          <img src="../../assets/dance.jpg">
        </div>
        <div class="title">
          <h1>Dance</h1>
        </div>
        <div class="des">
          <p>1st place in many External Fest</p>
          
        </div>
      </div>
      <div class="cards">
        <div class="image">
          <img src="../../assets/sportsday.jpg">
        </div>
        <div class="title">
          <h1>Sports Day</h1>
        </div>
        <div class="des">
          <p>Secured 1st place in Discuss, Longjump, 4x100mRelay.</p>
         
        </div>
      </div>
       
       </div>
  </div> 
  </div>
  </div>
